
header {
    top: 0;
}

  .nav-links {
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(39, 38, 38, 0.656);
    backdrop-filter: blur(3px);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: -100%;
    transition: all 0.5s ease-in-out;
    z-index: 1;
  }
  
  .nav-links.active {
    margin-left: 0;
  }
  
  
  .nav-links > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
    padding: 0%;
  }
  
  .nav-links > ul > li > a {
    color: white;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
  }

main {
    display: block;
    height: auto;
    width: auto;
}

.aside {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #7353ff;
    text-align: center;
}

.aside > ul {
  height: auto;
}

.aside > ul > li{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  margin-bottom: 4rem;
}

.contact {
    width: 100vw;
    height: 100%;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.titre > ul > a,a {
  overflow: hidden;
}

form {
  margin-top: 10rem;
}

footer {
  margin-top: 5rem;
  bottom: 0;
}